.mybackground{
    background-color: hsl(157, 92%, 36%);
}

.BGT{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(11, 11, 184);
}

.STGS{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.Steps{
    font-weight: bolder;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Bullet{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.TopPageLinks{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
